<!DOCTYPE html>
<html lang="ru">
{% extends "layout.html" %}
{% load static %}


<head>
    {% block head_block %}
        <link rel="stylesheet" type="text/css" href="{% static "css/account_page.css" %}">
        <script type="text/javascript" src="{% static 'js/account_scripts.js' %}" ></script>



    {% endblock %}
    <title></title>

</head>
<body>
    {% block body_content %}
    <div class="client-data-container">
        {% csrf_token %}
        <div class="client-data">
            <label for="{{ organization }}">Организация:</label>
            {{ organization }}
        </div>


        <div class="client-data">
            <label for="{{ client }}">Данные клиента: </label>
            {{ client }}

        </div>
    </div>
        <div>
        <input type="button" value="Создать заявку" onclick="toggleVisibility(this);" class="creation-button" /><br>
            <div class="request-creation-container">
                <form name="problem" method="post" action="{% url 'send_request' %}">
                    {% csrf_token %}
                    <label for="{{ req_form.product.id_for_label }}"></label>
                    <span>{{ req_form.product }}</span>
                    <label for="{{ req_form.problem.id_for_label }}"></label>
                    <span>{{ req_form.problem }}</span>
                    <input type="submit" value="Отправить заявку">
                </form>

            </div>
            <div class="requests-container">
                <table class="table table-responsive table-hover" id="mytable">
                <thead>
                    <tr><th scope="col">Column</th><th scope="col">№ Заявки</th><th scope="col">Статус</th><th scope="col">Дата создания</th></tr>
                </thead>

                {% for req in reqs %}
                    <tbody class="main-row row{{ forloop.counter0 }}">
                        <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-{{ forloop.counter0 }}" aria-expanded="false" aria-controls="group-of-rows-{{ forloop.counter0 }}">
                            <td><i class="fa fa-plus" >&#62;</i></td>
                            <td>{{ req.id }}</td>
                            <td>{{ req.status }}</td>
                            <td>{{ req.registration_date }}</td>
                        </tr>
                        <tr id="group-of-rows-{{ forloop.counter0 }}" class="collapse ans-row{{ forloop.counter0 }}">
                            <td colspan="4">
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                        <tr><th scope="col">Автор</th><th scope="col">Сообщение</th><th scope="col">Дата сообщения</th><</tr>
                                    </thead>
                                    <tbody>
                                        {% for ans in answers %}
                                            {% ifequal ans.req req.id %}
                                                <tr>
                                                    <td>{{ ans.from_user}}</td>
                                                    <td>{{ ans.answer }}</td>
                                                    <td>{{ ans.date }}</td>
                                                </tr>
                                            {% endifequal %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            <td>
                        </tr>
                    </tbody>

                {% endfor %}

                </table>

            </div>
        </div>

    {% endblock %}

</body>
</html>