<!DOCTYPE html>
<html lang="ru">
{% extends "layout.html" %}
{% load static %}


<head>
    {% block head_block %}
        <link rel="stylesheet" type="text/css" href="{% static "css/account_page.css" %}">
        <script type="text/javascript" src="{% static 'js/account_scripts.js' %}" ></script>



    {% endblock %}
    <title></title>

</head>
<body>
    {% block body_content %}
    <div class="client-data-container">
        {% csrf_token %}
        <div class="client-data">
            <label for="{{ organization }}">Организация:</label>
            {{ organization }}
        </div>


        <div class="client-data">
            <label for="{{ client }}">Данные клиента: </label>
            {{ client }}
        </div>
    </div>
        <div>
        <input type="button" value="Создать заявку" onclick="toggleVisibility(this);" class="creation-button" /><br>
            <div class="request-creation-container">
                <form name="problem" method="post" action="{% url 'send_request' %}">
                    {% csrf_token %}
                    <label for="{{ req_form.product.id_for_label }}"></label>
                    <span>{{ req_form.product }}</span>
                    <label for="{{ req_form.problem.id_for_label }}"></label>
                    <span>{{ req_form.problem }}</span>
                    <input type="submit" value="Отправить заявку">
                </form>

            </div>
            <div class="requests-container">
                <table class="table table-responsive table-hover">
                <thead>
                    <tr><th scope="col">Column</th><th scope="col">№ Заявки</th><th scope="col">Статус</th><th scope="col">Дата создания</th></tr>
                </thead>
                <tbody>
                    <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1">
                        <td><i class="fa fa-plus" >&#62;</i></td>
                        <td>1111</td>
                        <td>Открты</td>
                        <td>11.11.2011</td>
                    </tr>
                </tbody>
                <tbody id="group-of-rows-1" class="collapse">
                    <tr>
                        <td colspan="4">
                            <table class="table table-responsive table-bordered">
                            <thead>
                            <tr><th scope="col">Автор</th><th scope="col">Сообщение</th></tr>
                            </thead>
                            <tbody>
                                <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1">
                                    <td>Я</td>
                                    <td>Беда</td>
                                </tr>
                            </tbody>
                            </table>
                        <td>

                    </tr>
                    <tr>
                        <td>- child row</td>
                        <td>data 1</td>
                        <td>data 1</td>
                        <td>data 1</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-2" aria-expanded="false" aria-controls="group-of-rows-2">
                        <td><i class="fa fa-plus" >&#62;</i></td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                    </tr>
                </tbody>
                <tbody id="group-of-rows-2" class="collapse">
                    <tr>
                        <td>- child row</td>
                        <td>data 2</td>
                        <td>data 2</td>
                        <td>data 2</td>
                    </tr>
                    <tr>
                        <td>- child row</td>
                        <td>data 2</td>
                        <td>data 2</td>
                        <td>data 2</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="4">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">В начало</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tbody>
                </table>

            </div>
        </div>

    {% endblock %}



</body>
</html>